/* Home Page - Carousel Section */
.carousel{

}
.homepage-socials{
    /* position: absolute; */
    float: left;
}
.social{
    padding: 10px;
}

/* Home Page - About Section  */
.about-section{
    background-color: #6DBA49;
    padding: 150px;
    color: #fff;
    font-weight: 400;
}
.info-card{
    display: flex;
}
.about-section span{
    font-size: 50px;
}
.about-section p{
    font-size: 30px;
}
.about-section img{
    /* border: 1px solid; */
    padding: 20px;
    margin-left: 50px;
}
.graphic1{
    /* width: 100%; */
}

/* Home Page - Upcoming Events Section */
.upcoming-events-section{
    background-color: #F5F5F5;
    padding: 150px;
    color: #986F59;
}
.upcoming-events-section h3{
    font-size: 50px;
}
.upcoming-events-section h4{
    text-decoration: underline;
    font-size: 40px;
}
.upcoming-events-section p{
    font-size: 30px;
}
.upcoming-events-section button{
    font-size: 30px;
    font-family: inherit;
    color: #fff;
    background-color: #6DBA49;
    border-radius: 10px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px solid;
}
.upcoming-events-section a{
    font-size: 30px;
    color: #6DBA49;
    text-decoration: none;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.upcoming-events-section a:hover{
    color: #986F59;
}


/* Home Page - Shop Section */
.shop{
    background-color: #ECE0CD;
    padding: 150px;
}
.shop span{
    font-size: 50px;
    color: #986F59;
}
.home-shop-items{
    /* border: 1px solid; */
    display: flex;
}


/* Home Shop Card */
.shop-card{
    margin: 20px;
    width: 400px;
}

.item-info{
    color: #986F59;
    font-size: 30px;
}
.item-info a{
    text-decoration: none;
    color: #6DBA49;
}
.item-info a:hover{
    text-decoration: none;
    color: #986F59;
}
.shop-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop button {
    font-size: 30px;
    font-family: inherit;
    color: #fff;
    background-color: #6DBA49;
    border-radius: 10px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px solid;
    height: 80px;
}